<h1>Alerta desde DesafíoAcid:</h1>
<p>
  Ha fallado el acceso al sistema,
  por favor contáctese con el administrador!<br>
</p>
<p>
  Navegador usado: <%= @user_agent %>
</p>
<p>Gracias, que tenga un buen día!</p>