<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Alerta desde DesafíoAcid:</h1>
    <p>
      Ha fallado el acceso al sistema,
      por favor contáctese con el administrador!<br>
    </p>
    <p>
      Navegador usado: <%= @user_agent %>
    </p>
    <p>Gracias, que tenga un buen día!</p>
  </body>
</html>