<form action="/rest/login" method="post" enctype="application/json">
  <input type="hidden" name="image" id="base64input">
  <input type="text" name="email">
  <input type="file" onchange="transformFile()"><br>
  <input type="submit" value="Submit">
</form>


